
*.dll
dsaDotNet/.DS_Store
.DS_Store
dsaDotNet/.vs/dsaDotNet/DesignTimeBuild/.dtbcache.v2
dsaDotNet/.vs/dsaDotNet/v17/.futdcache.v1
dsaDotNet/.vs/dsaDotNet/v17/.suo
dsaDotNet/.vs/dsaDotNet/xs/project-cache/dsaDotNet-Debug.json
dsaDotNet/bin/Debug/net6.0/dsaDotNet
dsaDotNet/bin/Debug/net6.0/dsaDotNet.deps.json
dsaDotNet/bin/Debug/net6.0/dsaDotNet.pdb
dsaDotNet/bin/Debug/net6.0/dsaDotNet.runtimeconfig.json
dsaDotNet/obj/project.nuget.cache
dsaDotNet/obj/project.assets.json
dsaDotNet/obj/dsaDotNet.csproj.nuget.g.targets
dsaDotNet/obj/dsaDotNet.csproj.nuget.g.props
dsaDotNet/obj/dsaDotNet.csproj.nuget.dgspec.json
dsaDotNet/obj/Debug/net6.0/dsaDotNet.pdb
dsaDotNet/obj/Debug/net6.0/dsaDotNet.GlobalUsings.g.cs
dsaDotNet/obj/Debug/net6.0/dsaDotNet.genruntimeconfig.cache
dsaDotNet/obj/Debug/net6.0/dsaDotNet.GeneratedMSBuildEditorConfig.editorconfig
dsaDotNet/obj/Debug/net6.0/dsaDotNet.csproj.FileListAbsolute.txt
dsaDotNet/obj/Debug/net6.0/dsaDotNet.csproj.CoreCompileInputs.cache
dsaDotNet/obj/Debug/net6.0/dsaDotNet.csproj.AssemblyReference.cache
dsaDotNet/obj/Debug/net6.0/dsaDotNet.assets.cache
dsaDotNet/obj/Debug/net6.0/dsaDotNet.AssemblyInfoInputs.cache
dsaDotNet/obj/Debug/net6.0/dsaDotNet.AssemblyInfo.cs
dsaDotNet/obj/Debug/net6.0/apphost
dsaDotNet/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
